body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid white;
    padding: 40px 80px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

a:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #E1332D;
}